.fondo{
    background-color: black;
}

.menu  {
    font-size: 40px;
    background-color: orange;
    width: 100vw;
    font-family:monospace;
    font-style: italic;
    display: flex;
    line-height: 2;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    position:fixed;
    left:170px;
    top: 30px;
    

}

.logo {
    width: 170px;
    position:fixed;
    top: 20px;
}
.redes-sociales{
    font-size: 20px;
    padding: 30px 30px;
    color: whit;
    font-family: monospace;
    position:fixed;
    right:150px; 
    top: 80px;
}    
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px 10px;
    border: 2px solid #fff9f9;
    border-radius: 7px;
    background: #fff9f9;
    background: -webkitgradient(linear, left top, left bottom,(#fff9f9), (#fff9f9));
    background: -moz-linear-gradient(top, #fff9f9, #fff9f9);
    background: linear-gradient(to bottom, #fff9f9, #fff9f9);
    -webkit-box-shadow: #fff9f9 0px 0px 9px 0px;
    -moz-box-shadow: #fff9f9 0px 0px 9px 0px;
    box-shadow: #fff9f9 0px 0px 9px 0px;
    text-shadow: #000000 0px -1px 0px;
    font: normal normal bold 15px arial;
    color: #000000;
    text-decoration: transparent;
    position:fixed;
    right: 60px;
    top: 100px;
}
.button:hover,
.button:active,
.button:focus {
    color: #000000;
    text-decoration: none;
}

.button:hover,
.button:active,
.button:focus {
    color: #000;
    text-decoration: none;
}
.bienvenido{
    font-family: monospace;
    color: white;
    position: relative;
    left: 780px;
    top: 850px;
    
}
.video{
    font-size: 10px;
    position: relative;
    left: 550px;
    top: -10px;
    
}
.textos{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 70px 0;
  color: white;
  justify-content: space-evenly;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 70px 0;
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}
.img__1{
    position: relative;
    right: 500px;
    top: 200px;
}
.img__2{
    position: relative;
    right: 700px;
    top: 1000px;
}
.textos img{
    width: 500px;
    height: 250px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    position: relative;
    left: 600px;
    top: 20px;
    
}
.textos h3{
  padding: 10px 0;
  font-family: monospace;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;;
  color: white;
  font-size: 20px;
  margin: 10px 0;
}
.textos p{
    color: white;
    font-family: monospace;
}
.sobre-nosotros h2{
    font-family: monospace;
    font-size: 25px;
    color: white;
    position: relative;
    left: 860px;
    top: -50px;
}
.sobre-nosotros p{
    color: white;
    font-family: monospace;
    position: relative;
    left: 600px;
    top: -50px;
}
